
.wrap-body {
    height: 93.5%;
    position: relative;
    @include flexBox(row,center);

    & p{
        margin: 0;
        padding: 0;
        color: rgb(141, 137, 137);
    }
    & .side-bar{
        position: absolute;
        left: 0;
        top: 0;
        width: 19%;
        margin-top: 10px;
        height: 665px;
        box-shadow: 1px 0px 2px rgba($color: #000000, $alpha: 0.1);
        border-radius: 0px 3px 0 0;
        background-color: rgb(221, 246, 248);
        

        & .wrap-list-train {
            width: 100%;
            height: 100%;
            padding-top: 40px;
            padding-left: 20px;
    
            & .list-train{
                width: 100%;
                height: 100%;
                padding-top: 10px;
                font-family: $fontFamily;;
                // @include flexBox(column,center,center);
    
                & .search-folder {
                    width: 90%;
                    margin-bottom: 20px;
                    .anticon-search {
                        margin-bottom: 5px;
                        font-size: large;
                    }
                    
                }
    
                & > p {
                    color: #000;
                    display: inline-block;
                    padding-bottom: 10px;
                    font-size: 1.2em;
                    // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
                }
    
                & .scroll-list {
                    width: 100%;
                    @include calc(height, '100% - 120px');
                    overflow-y:hidden;
    
                    & .list-item {
                        @include flexBox(row,flex-start, center);
                        padding: 5px 10px;
                        cursor: pointer;
                        img{
                            margin-right: 10px;
                        }
                        p {
                            color: #1a1a1a;
                            font-size: 1.1em;
                        }
                    }
                }
    
                & .scroll-list:hover {
                    overflow-y:auto;
                }
            }
    
        }
    }
    & .wrap-recognition {
        padding-top: 40px;
        height: 685px;
        padding-bottom: 10px;
        width: 60%;


        & .list-item-exist{
            @include flexBox(row,space-between,center)
        }
        & .wrap-button {
            @include flexBox(row,space-around,center);
            padding: 0 50px 0 50px;
            & .wrap-input {
                position: relative;
                @include flexBox(column,center,center);

                & label {
                    width: 220px;
                    height: 45px;
                    text-align: center;
                    line-height: 2.5;
                    background-color: $colorPrimary;
                    color: white;
                    border-radius: 3px;
                    font-size: 1.1em;
                    transition: all 0.3s;
                    
                }
                & label:hover {
                    opacity: 0.7;
                }
                
                & input {
                    display: none;
                }

                & p {
                    position: absolute;
                    bottom: -60%;
                }
            }
            & button {
                width: 220px;
                height: 45px;
                font-size: 1.1em;
            }
        }

        & .wrap-video {
            position: relative;
            margin: 20px 20px 0px 20px;
            padding: 5px 5px 5px 5px;
            height: 570px;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
            @include flexBox(row,center,center);

            canvas {
                position: absolute;
                left: 5px;
                top: 5px;
                width: 98.5%;
                height: 98.5%;
            }
            video {
                width: 100%;
                height: 100%;
                transition: all ease-in 0.5s;
            }
            & .signal{
                width: 150px;
                height: 150px;
                @include flexBox(column,center,center);
                & svg {
                    fill: rgb(199, 10, 199);
                }

                & p {
                    margin-top: 5px;
                }
            }
            //------------------------------------RTSPCam Stream
            & .wrap-canvas{
                position: absolute;
                left: 5px;
                top: 5px;
                width: 98.5%;
                height: 98.5%;
                
                & canvas {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    opacity: 0;
                }
            }
            & .wrap-play {
                position: absolute;
                @include absoluteCenter(both);
            }

            & .ant-spin-nested-loading{
                width: 100%;
                height: 100%;

                & .ant-spin-container {
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }
    .train-status {
        overflow-y: auto;
        & .wrap-item {
            @include flexBox(row,space-between,center);
        }
    }
}
& .wrap-body.rtsp {
    @include flexBox(row,space-evenly);
    
    & .list-recognition {
        margin-top: 10px;
        width: 340px;
        height: 665px;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        border-radius: 5px;
        @include flexBox(column,flex-start,center);
        padding-top: 10px;

        & .title {
            margin: 0;
            font-weight: 600;
            font-family: $fontFamily;
            font-size: 1.1em;
            color: rgb(66, 65, 65);
        }

        & .list-item {
            width: 100%;
            margin-top: 10px;
            overflow-y: auto;
        }
    }
}