
.wrap-body {
    height: 91%;
    width: 100%;
    position: relative;
    

    & .body-spin {
        width: 100%;
        height: 100%;
        

        .ant-spin-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            height: 100%;
        }
        .ant-spin-spinning {
            max-height: 100%;
        }
        .ant-spin-blur {
            opacity: 0.01;
        }
    }

    & p{
        margin: 0;
        padding: 0;
        color: rgb(141, 137, 137);
    }
    & .slide-right {
        width: 5%;
        background-color: #fff;
    }
    & .side-bar{
        width: 20%;
        height:100%;
        padding-left: 30px;
        & > div {
            @include flexBox(row,flex-start,center);
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;

            img {
                margin-right: 30px;
            }
            p {
                font-size: 1.4em;
            }
            
        }
        
    }
    & .wrap-content {
        background-color: #f9f9f9;
        height: 100%;
        width: 75%;

        & .wrap-button {
            height: 10%;
            width: 100%;
            padding: 20px 70px 0px 30px;
            @include flexBox(row,space-between,center);

            & > p {
                font-size: 1.3em;
            }
            & .group-button {
                & .button {
                    position: relative;
                    width: 180px;
                    height: 50px;
    
                    .icon {
                        position: absolute;
                        left: 10px;
                        top: 16px
                    }
                }
                & .add-user {
                    background-color: rgb(19, 19, 134);
                    color: white;
                    margin-right: 40px;
                }
                & .modify {
                    border: 1px solid $colorBlue !important;
                    color: $colorBlue;
                }
                & .modify:hover {
                    opacity: 0.5;
                }
                & .add-user:hover{
                    background-color: rgb(77, 77, 187) !important;
                }
            }
            & button {
                width: 220px;
                height: 45px;
                font-size: 1.1em;
            }
        }
        & .wrap-search {
            height: 10%;
            @include flexBox(row,space-between,center);
            padding: 20px 70px 0px 30px;
            width: 100%;
            & .search-folder {
                height: 50px;
                width: 280px;

                & .ant-input-prefix{
                    color: rgb(199, 195, 204);
                    margin-right: 10px;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                & input {
                    font-size: 1.3em;
                }
            }
            .ant-select {
                width: 280px;
                height: 50px;
                font-size: 1.3em;
                
                .ant-select-selector {
                    width: 100%;
                    height: 100%;
          
                    .ant-select-selection-search {
                        height: 100%;
                        .ant-select-selection-search-input {
                            height: 100%;
                        }
                    }
                    .ant-select-selection-item {
                        margin-top: 9px;
                        
                    }
                }
             }
        }
        & .wrap-list-train {
            width: 100%;
            height: 76%;
            padding: 20px 20px 0px 30px;
    
            & .list-train{
                width: 100%;
                height: 100%;
                font-family: $fontFamily;;
                // @include flexBox(column,center,center);
    
                & .scroll-list {
                    width: 100%;
                    height: 100%;
                    padding-right: 30px;
                    overflow-y:scroll;
    
                    & .list-item {
                        position: relative;
                        margin-top: 15px;
                        @include flexBox(row,flex-start, center);
                        height: 75px;
                        padding: 0px 20px;
                        border-radius: 10px;
                        width: 100%;
                        border: 1px solid rgba($color: #000000, $alpha: 0.2);
                        cursor: pointer;
                        p {
                            color: black;
                            font-size: 1.4em;
                            font-weight: 600;
                        }
                        & .wrap-person{
                            @include flexBox(row,flex-start, center);
                            width: 20%;
                            .icon{
                                margin-right: 20px;
                                width: 30px;
                                height: 30px;
                            }
                        }
                        & .wrap-time{
                            width: 20%;
                        }
                        & .wrap-image {
                            width: 7%;
                            margin-right: 3%;
                            @include flexBox(row,center, center);
                            p {
                                margin-right: 10px;
                            }
                            .icon{
                                width: 30px;
                                height: 30px;
                            }
                        }
                        & .wrap-channel-name {
                            width: 48%;
                            padding: 0;
                            p {
                                font-size: 1.3em;
                                width: 100%;
                                text-align: center;
                                word-wrap: break-word;  
                            }
                        }
                        & .wrap-menu {
                            position: absolute;
                            right: 5px;
                            top: 10px;
                            .icon{
                                width: 23px;
                                height: 23px;
                            }
                        }

                      
                    }

                    & .list-item:first-child {
                        margin-top: 0;
                    }
                }
            }
    
        }

    }
    .train-status {
        overflow-y: auto;
        & .wrap-item {
            @include flexBox(row,space-between,center);
        }
        & .list-item-exist{
            @include flexBox(row,space-between,center)
        }
    }
}
@import '../bodyComponents/RTSP/rtspCam';