.wrap-header {
    height: 9%;

    & .VBPO-header {
        height: 100%;
        background-color: white;
        
        & .header-brand {
            margin: 0;
            padding-left: 40px;
            width: 20%;
        }

        & .sign-in {
            position: absolute;
            font-size: 1.3em;
            right: 40px;
        }
    }

    
}

@media all and (max-height:900px){
    .wrap-header {
        height: 7.5%;
    }
}
@media all and (max-height:780px){
    .wrap-header {
        height: 8%;
    }
}
@media all and (max-height:700px){
    .wrap-header {
        height: 10%;
    }
}